nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

nav ul li {
  padding: 1rem 0.5rem;
}

nav {
  background-color: black;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a.active {
  color:#bada55;
}