body {
  padding: 0;
  margin: 130px 0 120px 0;
  background-image: url('./images/mario-bkg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(161,195,240);
  font-family: 'Titillium Web', sans-serif;
  height: 100%;
  text-align:center;
}

#root{
  height: 100%;
  width: 100%;
}